@font-face {
  font-family: 'BebaseNeue';
  src: url('fonts/BebasNeue-Regular.ttf') format('truetype')
}

html, body {
  color: white;
  font-family: 'BebaseNeue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #031720;
  background-image: url(/images/card-patterns-tile-blue.png);
  background-repeat: repeat;
  background-size: 3rem;
  position: relative;
}

.turun-wappulehti>section {
  height: 100vh;
  width: 100%;
  position: relative;
}

.text-center {
  text-align: center;
}

section>.content {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 1200px;
  max-width: 80%;
  position: relative;
  overflow: hidden;
}

section#main {
  background-color: #91b7eb;
  background-image: url(/images/wappulehti1.jpg);
  background-size: contain;
}

#main>.content {
  justify-content: space-around;
  flex-direction: column;
}

section#release {
  display: flex;
  flex-wrap: wrap-reverse;
}

.column {
  flex-basis: 50%;
  flex-grow: 1;
}

.release-image {
  background-image: url(/images/wappulehti2.jpg);
  background-size: cover;
  background-position: center;
}

.release-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
  text-align: center;
  vertical-align: middle;
}

.release-details > div {
  margin: 0 auto;
}


h1 {
  font-size: 5rem;
}

p {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 3.5rem;
}

.dreams {
  height: 60vh;
  max-height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

img.cards {
  max-height: 100%;
  -webkit-animation: scale-up-center 4s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite alternate both;
  animation: scale-up-center 4s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite alternate both;
  z-index: -1;
}

h1.intro {
  line-height: 1;
  text-align: center;
}

.intro-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  position: relative;
  text-align: center;
  color: black;
}

.suit {
  width: 3rem;
  display: inline-block;
}

.release-image img
.suit img {
  width: 100%;
  height: auto;
}

.top-left {
  top: 0.5rem;
  left: 0.5rem;
}

.top-right {
  top: 0.5rem;
  right: 0.5rem;
}

.bottom-left {
  bottom: 0.5rem;
  left: 0.5rem;
}

.bottom-right {
  bottom: 0.5rem;
  right: 0.5rem;
}

.participate {
  position: absolute;
  margin: 0 auto;
  bottom: 9vh;
  color: white;
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
}

.intro-participate {
  background-color: rgba(0, 0, 0, 0.6);
  ;
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
  color: whitesmoke;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.participate:hover, .info:hover {
  text-decoration: underline;
}

#ramble {
  font-size: 1.8rem;
  max-width: 800px;
}

.arrow {
  border: solid white;
  border-width: 0 0.3rem 0.3rem 0;
  display: inline-block;
  padding: 0.3rem;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.slide-down {
  font-size: 1rem;
  -webkit-animation: slide-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s infinite alternate both;
  animation: slide-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s infinite alternate both;
}

.slide-up {
  font-size: 1rem;
  -webkit-animation: slide-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s infinite alternate-reverse both;
  animation: slide-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s infinite alternate-reverse both;
}

.fly {
  -webkit-animation: fly 5s 0s ease-in-out alternate both;
  animation: fly 5s 0s ease-in-out alternate both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-3-9 21:59:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  70% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0.3rem);
    transform: translateY(0.3rem);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  70% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0.3rem);
    transform: translateY(0.3rem);
  }
}

@keyframes fly {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0) scale(0);
  }
  50% {
    -webkit-transform: translate(-20vw, -50vh);
    transform: translate(-20vw, -50vh) scale(2);
  }
  100% {
    -webkit-transform: translate(40vw, -100vh);
    transform: translate(40vw, -100vh) scale(4);
  }
}

#vitsit, #what {
  font-size: 1.5rem;
  text-align: center;
}

#joke-form div {
  margin-top: 1rem;
  text-align: left;
}

#joke-form label {
  font-size: 2rem;
}

#joke-form input, #joke-form textarea {
  width: 100%;
  max-width: 800px;
  padding: 0.5rem 0.3rem;
}

#superbowl {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  z-index: -1;
}

#submit-button {
  position: relative;
  padding: 0.5rem 1rem;
  width: 200px;
  background-color: whitesmoke;
}

#submit-button:disabled {
  background-color: gray;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 14vw;
  }
  h2 {
    font-size: 2rem;
  }
  #vitsit {
    font-size: 1rem;
  }
  #ramble {
    font-size: 4vw;
  }
  section#main {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .suit {
    width: 2rem;
  }
}

@media screen and (max-width: 540px) {
  p {
    font-size: 1rem;
  }
}