
form#joke-form {
  margin-top: 2rem;
}

.field textarea,
.field select,
.field input {
  width: 100%;
  max-width: 900px;
  border-radius: 0.5rem;
  margin-top: 0.2rem;
  padding: 0.7rem;
  border: none;
}

.field textarea:focus-visible,
.field select:focus-visible,
.field input:focus-visible {
  outline: var(--color-accent) 2px solid;
}

.error-outline {
  outline: var(--color-error) 2px solid;
}

.error {
  color: var(--color-error);
}

form#joke-form .field {
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

form#joke-form .field>label {
  display: block;
}

form#joke-form .field>input[type=checkbox] {
  display: inline-block;
  width: 1rem;
  border-radius: 0;
  padding: 0;
}

form#joke-form .field>input[type=checkbox]+label {
  display: inline-block;
}

.btn-submit {
  border-radius: 0.25rem;
  padding: 0.5rem 1.25rem;
  border: none;
  font-weight: bold;
  color: var(--color-black);
  background-color: var(--color-white);
  outline: var(--color-accent) 2px solid;
  transition: background-color .3s, color .3s;
}

.btn-submit:hover {
  background-color: var(--color-accent);
  color: var(--color-white);
}

.btn-submit:active {
  color: var(--color-gray-300);
}

.btn-submit:disabled {
  outline: none;
  background-color: var(--color-gray-600);
  color: var(--color-gray-400);
}
