@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --color-black: #13171b;
  --color-white: #f8f9fa;
  --color-gray-100: #f7f7f7;
  --color-gray-200: #e6e9ee;
  --color-gray-300: #dde0e4;
  --color-gray-400: #818890;
  --color-gray-500: #535661;
  --color-gray-600: #4b4c53;
  --color-gray-700: #3a3d4a;
  --color-gray-800: #2e3039;
  --color-gray-900: #1f2028;

  --color-accent: #08b993;
  --color-error: #b90834;
  --color-pink: #FFB4B4;

  --text-primary: var(--color-gray-200);
  --text-secondary: var(--color-gray-900);
  --text-primary-dim: var(--color-gray-900);
  --text-secondary-dim: var(--color-gray-900);

  --bg-primary: #373f47;
  --bg-secondary: var(--color-gray-100);

  --bg-events: #A85751;
  --bg-events-heading: #6449f7;
  --bg-events-details: #192743;

}

html, body {
  height: 100%;
  color: var(--text-primary);
  scroll-behavior: smooth;
  font-family: 'Montserrat', serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

#main {
  height: 90vh;
  min-height: 550px;
  padding: 2.5rem clamp(2.5rem, 10vw, 6rem);
}

a {
  text-decoration: underline;
  color: var(--text-primary);
}

a:hover,
a:active {
  text-decoration: none;
  color: var(--text-primary);
}

p {
  font-size: 1em;
  line-height: 1.75;
}

.ponkeli {
  width: 100%;
  max-width: 900px;
}

.ponkeli.small {
  max-width: 120px;
}

.intro {
  --font-multiplier: 1;
}

.intro>* {
  margin-top: 0.5rem;
  font-size: clamp(1.5em, 4vw, 2em);
}

.intro p {
  font-size: clamp(calc(1em* var(--font-multiplier)), calc(4vw* var(--font-multiplier)), calc(2em* var(--font-multiplier)));
}

.hero-title {
  position: absolute;
  font-size: clamp(3em, 10vw, 6em);
}

.hero-dim {
  position: absolute;
  font-size: clamp(6em, 20vw, 12em);
  color: var(--text-primary-dim);
  overflow: hidden;
}

#rules {
  max-width: 40ch;
}

#vitsit > p {
  padding: 2rem;

}

#errors {
  max-width: 300px;
  white-space: normal;
}

.icon {
  display: inline-block;
  height: 1em;
  aspect-ratio: 1;
}

.icon svg {
  max-width: 100%;
  fill: var(--text-primary)
}

.social {
  margin: 0 0.5em;
}

.social:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

#canvas {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100vw;
}

#secret-tools {
  position: absolute;
}

/* navigation */
#navbar {
  margin: 0 auto;
  width: 100%;
  max-width: 720px;
}

#navbar-nav {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  gap: 1rem;
}

#navbar-nav .nav-item a {
  display: block;
  background-color: var(    --bg-events-heading);
  color: var(--text-primary);
  transition: transform 300ms;
  padding: 0.75em 1em;
  border-radius: 0.75em;
  font-weight: bold;
  text-decoration: none;
  backdrop-filter: blur(1rem);
}

#navbar-nav .nav-item a:hover {
  transform: scale(1.1);
}

#navbar-nav .nav-item.home a {
  background-color: var(--color-gray-200);
  color: var(--color-gray-800);
  outline: 4px solid var(--color-pink);
}

/* Info about events */
#events {
  background-color: var(--bg-events);
  padding: 2rem clamp(1rem, 10vw, 6rem);
  font-size: 1rem;
  --event-margin: 2.75em;
  --event-padding: 2em;
}

#events > h2 {
  margin: 0 0 1em;
}

.event-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
}

.event-heading {
  position: relative;
  background-color: var(--bg-events-heading);
  color: var(--text-primary);
  padding: var(--event-padding);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--event-margin);
  border-radius: 3em;
  height: fit-content;
  /* max-height: 6em; */
  /* white-space: nowrap; */
}

.event-heading h3 {
  font-size: 3em;
}


.event-details {
  position: relative;
  background-color: var(--bg-events-details);
  color: var(--text-primary);
  padding: var(--event-padding);
  border-radius: 3em;
  font-size: 1.25em;
  max-width: 75ch;
}

.event-details p {
  margin-bottom: 1em;
}
.event-details .event-sub-heading {
  font-weight: bold;
  margin-bottom: 1em;
}

.event-overlap {
  margin-left: calc(var(--event-margin) * -1);
  margin-top: var(--event-margin);
}

.event-box+.event-box{
  margin-top: 1rem;
}

.event-highlight {
  align-self: flex-start;
}


@media screen and (max-width: 700px) {
  p {
    line-height: 1.5;
  }
  .event-box {
    flex-direction: column;
    gap: 1rem;
  }
  .event-overlap {
    margin: inherit;
  }
  .event-heading {
    margin: inherit;
  }
  
}